@{ ViewData["Title"] = "Index";
    ViewData["PageName"] = "test_index";
    ViewData["Category1"] = "Test";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>"; }